<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TwoWaySix - YouTube Downloader</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <button onclick="test()">Click</button>

    <form action="/download">
      <label for="video-id">YouTube Video ID:</label><br>
      <input type="text" id="video_id" name="video_id"><br>
      <input type="submit" value="Submit">
    </form>

	<script src="index.js"></script>
  </body>
</html>